.cover__link {
  width: 100%;
  aspect-ratio: 16 / 10;
  text-decoration: none;
  color: #fff;
  background: top left / cover url("../../../images/cover/cover-trains.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover__link::before {
  content: "";
  width: 100%;
  height: auto;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.8s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cover__link:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}