.places__link-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  @media screen and (max-width: 767px) {
    .places__link-container {
      margin: 0 16px;
  
      grid-row: 2;
    }
  }
  